* {
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 90%;
}

td {
    border: 1px solid black;
    padding: 5px;
    min-width: 10px;
}

p {
    display: inline-block;
}