<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_info_style.css') }}">
    <title>Read(One)</title>
</head>
<body>
    <h1>User {{ user.id }} </h1>
    <p>Full Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Email: {{ user.email }} </p>
    <p>Created On:{{ user.created_at }}</p>
    <p>Last Updated On: {{ user.updated_at }} </p><br><br>
    <a href="/users/{{user.id}}/edit">Edit<span>|</span></a>
    <a href="">Delete</a><br><br>
    <a href="/users">Home</a>
</body>
</html>